<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./front.css">
    <title>Hr Management</title>
</head>
<body class="frontbody">
    <div class="container1">
        <img src="./images/logo1.png"   alt="not available" >
        <h3>HR Studio</h3>
        <p>Welcome HR manager Enter your password to unlock company's data</p>
    </div>
    <div class="container2"> 
        <img src="./images/unknown.jpg" alt="">
    </div>
     <form action="/login" method="post">
      <div class="container3">
      <div class="fir">  <input type="email" name="email" placeholder="Enter Your Email"></div>
      <div class="sec">  <input type="password" name="password" placeholder="Enter Your Password"></div>
      <div class="third"><input type="submit" class="form_submit"></div>
     </div>
     </form>


    
</body>
</html>